<div>
  <h3 ng-if="showTitle" class="margin-top-15">{{ item.name }}</h3>
  <p ng-if="!!item.dataset"><strong>Source:</strong>
    <a ng-if="!!item.url" ng-href="{{ item.url }}"
      target="_blank">{{ item.dataset }}</a>
    <span ng-if="!item.url">{{ item.dataset }}</span>
  </p>
  <p ng-if="item.category.length > 0"><strong
    ng-pluralize
    count="item.category.length"
    when="{1: 'Category:', 'other': 'Categories:'}"></strong>
    <span>{{ item.category | join:', ' }}</span>
  </p>
  <p ng-if="!!item.description" marked="item.description"></p>

  <div ng-if="!!item.sett">
    <p><strong>Item threadcount:</strong></p>
    <pre>{{ item.sett }}</pre>
  </div>
</div>
