<h3 class="margin-top-15">{{ tartan.name }}</h3>
<p ng-if="!!tartan.source"><strong>Source:</strong>
  <a ng-if="!!tartan.sourceUrl" ng-href="{{ tartan.sourceUrl }}"
    target="_blank">{{ tartan.source }}</a>
  <span ng-if="!tartan.sourceUrl">{{ tartan.source }}</span>
</p>
<p ng-if="tartan.categories.length > 0"><strong
  ng-pluralize
  count="tartan.categories.length"
  when="{1: 'Category:', 'other': 'Categories:'}"></strong>
  <span>{{ tartan.categories | join:', ' }}</span>
</p>
<p ng-if="!!tartan.overview" marked="tartan.overview"></p>
<p ng-if="!!tartan.comment" marked="tartan.comment"></p>
<p ng-if="!!tartan.copyright" marked="tartan.copyright"></p>

<div ng-if="!!tartan.sett">
  <p><strong>Tartan threadcount:</strong></p>
  <pre>{{ tartan.sett }}</pre>
</div>
