<!DOCTYPE html>
<html lang="en" ng-controller="MainController">
<head>
  <meta charset="utf-8">
  <title>Tartan Viewer</title>

  <link rel="icon" type="image/png" href="favicon.png">

  <link type="text/css" href="dist/styles/vendor.css" rel="stylesheet">
  <link type="text/css" href="dist/styles/app.css" rel="stylesheet">
</head>
<body>

<div ng-if="!isLoaded.application" class="text-center padding-top-50 padding-bottom-50">
  <div class="margin-bottom-10"><i class="fa fa-4x fa-spinner fa-pulse"></i></div>
  <div class="margin-bottom-10">Loading application...</div>
</div>

<div ng-cloak ng-if="isLoaded.application">
  <div class="container-fluid padding-top-15" ng-if="!dataset">
    <h2 class="without-margins margin-bottom-20">Tartan Viewer
      <span class="badge">alpha</span></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4"
        ng-repeat="dataset in datasets track by dataset.name"
      >
        <dataset-list-item item="dataset"
          onselect="openDataset(dataset)"></dataset-list-item>
      </div>
    </div>
  </div>

  <div class="container-fluid padding-top-15" ng-if="!!dataset">
    <dataset-header item="dataset" loaded="isLoaded.dataset"
      onclose="closeDataset()"></dataset-header>

    <div ng-if="!isLoaded.dataset" class="text-center padding-top-50 padding-bottom-50">
      <div class="margin-bottom-10"><i class="fa fa-4x fa-spinner fa-pulse"></i></div>
      <div class="margin-bottom-10">Loading dataset...</div>
    </div>

    <hr ng-if="isLoaded.dataset" class="margin-top-10 margin-bottom-20">

    <div ng-if="isLoaded.dataset">
       <dataset-view item="dataset"></dataset-view>
    </div>
  </div>
</div>

<footer class="container-fluid padding-top-15 padding-bottom-15">
<div class="row">
  <div class="col-md-6">
    <div><a href="https://github.com/thetartan/tartan-database">Database</a> &ndash; the data for this project.</div>
    <div><a href="https://github.com/thetartan/tartan/">Tartan parser on GitHub.</a></div>
    <div><a href="https://github.com/thetartan/angular-tartan/">Angular bindings for tartan parser.</a></div>
    <div><a href="https://en.wikipedia.org/wiki/Tartan">About tartans (Wikipedia).</a></div>
  </div>

  <div class="col-md-6">
    <div><a href="https://www.tartanregister.gov.uk/threadcount.aspx">Scottish Tartans Authority</a>, the only organisation dedicated to promoting tartan &ndash; registered charity.</div>
    <div><a href="http://www.tartanregister.gov.uk/">The Scottish Register of Tartans</a>, Scotland's official tartan register.</div>
    <div><a href="http://www.tartans.scotland.net/world_register.cfm.htm">The Scottish Tartans World Register.</a></div>
  </div>
</div>
</footer>

<script type="text/javascript" src="dist/app.js"></script>

</body>
</html>
