<!DOCTYPE html>
<html lang="en" ng-controller="MainController">
<head>
  <meta charset="utf-8">
  <title>Tartan Viewer</title>

  <link rel="icon" type="image/png" href="favicon.png">

  <link type="text/css" href="dist/styles/vendor.css" rel="stylesheet">
  <link type="text/css" href="dist/styles/app.css" rel="stylesheet">
</head>
<body>

<div ng-if="!isLoaded.application" class="text-center padding-top-50 padding-bottom-50">
  <div class="margin-bottom-10"><i class="fa fa-4x fa-spinner fa-pulse"></i></div>
  <div class="margin-bottom-10">Loading application...</div>
</div>

<div ng-cloak ng-if="isLoaded.application">
  <div class="container-fluid">
    <div class="row margin-bottom-15">
      <div class="col-sm-6">
        <div class="input-group margin-top-15 margin-bottom-15">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search"
            ng-model="current.search.query">
        </div>
        <div class="margin-top-5 margin-bottom-10">
          <span class="margin-right-10">Example:</span>
          <a href="javascript:void(0)" class="margin-right-10"
            ng-repeat="phrase in searchExamples"
            ng-click="current.search.query = phrase">{{ phrase }}</a>
        </div>
        <tartan-list items="current.tartans" items-per-page="20"
          current="current.tartan"></tartan-list>
      </div>
      <div class="col-sm-6">
        <div><tartan-info tartan="current.tartan"></tartan-info></div>
        <div ng-if="!!current.tartan.sett">
          <div class="btn-group margin-bottom-15">
            <button type="button" class="btn hide-outline"
              ng-class="{'btn-default': !current.isInfiniteMode, 'btn-info': current.isInfiniteMode}"
              ng-click="current.isInfiniteMode = !current.isInfiniteMode; current.isInteractiveMode = false; updateImage()"
            ><i class="margin-right-5 fa fa-check-square-o"
              ng-if="current.isInfiniteMode"></i>
              Draw as infinite texture
            </button>
            <button type="button" class="btn btn-info hide-outline"
              title="Restore offset"
              ng-if="current.isInfiniteMode"
              ng-click="current.isInteractiveMode = !current.isInteractiveMode">
              <i class="margin-right-5 fa"
                ng-class="{'fa-check-square-o': current.isInteractiveMode, 'fa-square-o': !current.isInteractiveMode}"></i>
              Interactive
            </button>
            <button type="button" class="btn btn-info hide-outline"
              title="Restore offset"
              ng-if="current.isInfiniteMode && current.isInteractiveMode"
              ng-click="current.renderingOffset={x: 0, y: 0}">
              <i class="fa fa-home"></i>
            </button>
          </div>
          <div>
            <tartan source="{{ current.tartan.palette + ' ' + current.tartan.threadcount }}">
              <tartan-schema name="classic"></tartan-schema>
              <div class="x-preview-canvas-wrapper"
                ng-class="{interactive: current.isInteractiveMode}"
                ng-style="getImageBounds()">
                <tartan-render-image repeat="current.isInfiniteMode"
                  offset="current.renderingOffset" interactive="current.isInteractiveMode"
                  metrics="current.metrics" options="{weave: current.weave}"></tartan-render-image>
              </div>
            </tartan>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid padding-top-15 padding-bottom-15">
<div class="row">
  <div class="col-md-6">
    <div><a href="https://datahub.io/dataset/tartans-from-different-sources2">Database (on the DataHub)</a> &ndash; the data for this project.</div>
    <div><a href="https://github.com/kravets-levko/tartan/">Tartan parser on GitHub.</a></div>
    <div><a href="https://github.com/kravets-levko/angular-tartan/">Angular bindings for tartan parser.</a></div>
    <div><a href="https://en.wikipedia.org/wiki/Tartan">About tartans (Wikipedia).</a></div>
  </div>

  <div class="col-md-6">
    <div><a href="https://www.tartanregister.gov.uk/threadcount.aspx">Scottish Tartans Authority</a>, the only organisation dedicated to promoting tartan &ndash; registered charity.</div>
    <div><a href="http://www.tartanregister.gov.uk/">The Scottish Register of Tartans</a>, Scotland's official tartan register.</div>
    <div><a href="http://www.tartans.scotland.net/world_register.cfm.htm">The Scottish Tartans World Register.</a></div>
  </div>
</div>
</footer>

<script type="text/javascript" src="dist/app.js"></script>

</body>
</html>
