<!DOCTYPE html>
<html lang="en" ng-controller="TestController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tartan Viewer</title>

  <link rel="icon" type="image/png" href="favicon.png">

  <link type="text/css" href="dist/styles/vendor.css" rel="stylesheet">
  <link type="text/css" href="dist/styles/app.css" rel="stylesheet">
</head>
<body>

<div ng-if="!isLoaded.application" class="text-center padding-top-50 padding-bottom-50">
  <div class="margin-bottom-10"><i class="fa fa-4x fa-spinner fa-pulse"></i></div>
  <div class="margin-bottom-10">Loading application...</div>
</div>

<div ng-cloak ng-if="isLoaded.application">
  <div class="container-fluid padding-top-15" ng-if="!state.dataset">
    <h2 class="without-margins margin-bottom-20">Tartan Viewer
      <span class="badge">alpha</span>
    </h2>
    <div class="margin-top-15 margin-bottom-15">
      <tartan-list items="items" item="state.originalItem" items-per-page="3"
        onpreview="selectItem()"></tartan-list>
    </div>

    <div class="row margin-top-15">
      <div class="col-sm-6"  ng-if="!!state.originalItem">
        <pre>{{ state.originalItem.sett }}</pre>
      </div>
      <div class="col-sm-6" ng-if="!!state.originalItem && !!state.compareItem">
        <pre>{{ state.compareItem.sett }}</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" ng-if="!!state.originalItem && !!state.compareItem">
        <pre>{{ state.compareItem.score }}</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" ng-if="!!state.originalItem">
        <pre>{{ formatFingerprint(state.originalItem.fingerprint) }}</pre>
      </div>
      <div class="col-sm-6" ng-if="!!state.originalItem && !!state.compareItem">
        <pre>{{ formatFingerprint(state.compareItem.fingerprint) }}</pre>
      </div>
    </div>

    <div class="row margin-bottom-15">
      <div class="col-sm-6" ng-if="!!state.originalItem">
        <tartan schema="classic" source="{{ state.originalItem.sett }}">
          <div class="x-preview-canvas-wrapper interactive" style="padding-top: 80%">
            <tartan-preview-control repeat="true" interactive="{resize: true, drag: true}"></tartan-preview-control>
          </div>
        </tartan>
      </div>
      <div class="col-sm-6" ng-if="!!state.originalItem && !!state.compareItem">
        <tartan schema="classic" source="{{ state.compareItem.sett }}">
          <div class="x-preview-canvas-wrapper interactive" style="padding-top: 80%">
            <tartan-preview-control repeat="true" interactive="{resize: true, drag: true}"></tartan-preview-control>
          </div>
        </tartan>
      </div>
    </div>

    <div class="margin-top-15 margin-bottom-15">
      <tartan-list items="similarItems" items-per-page="20"
        show-header="true" item="state.compareItem"></tartan-list>
    </div>
  </div>

</div>

<footer class="container-fluid padding-top-15 padding-bottom-15">
  <div><a href="https://github.com/thetartan/tartan-database">Database</a> &ndash; the data for this project.</div>
  <div><a href="https://github.com/thetartan/tartan/">Tartan parser on GitHub.</a></div>
  <div><a href="https://github.com/thetartan/angular-tartan/">Angular bindings for tartan parser.</a></div>

  <div ng-cloak>
    <hr class="margin-top-10 margin-bottom-10">
    <p class="text-muted without-margins">Version: {{ version }} (alpha)</p>
  </div>
</footer>

<script type="text/javascript" src="dist/app.js"></script>

</body>
</html>
