<div class="text-center">
  <ul class="pagination">
    <li ng-if="showPrevNext && (pagination.count > 0)"
      ng-class="{disabled: pagination.current == 1}">
      <a href="javascript:void(0)"
        ng-click="pagination.set(pagination.current - 1)">&laquo;</a>
    </li>
    <li ng-repeat="n in pagination.range track by [$index, n]"
      ng-class="{active: n == pagination.current, disabled: n == '...'}">
      <a href="javascript:void(0)" ng-click="(n != '...') ? pagination.set(n) : null;">{{ n }}</a>
    </li>
    <li ng-if="showPrevNext && (pagination.count > 0)"
      ng-class="{disabled: pagination.current == pagination.count}">
      <a href="javascript:void(0)"
        ng-click="pagination.set(pagination.current + 1)">&raquo;</a>
    </li>
  </ul>
</div>