<div class="tartan-list">
  <div class="margin-bottom-5" ng-if="!!showLegend">
    <span ng-pluralize
      count="items.length"
      when="{0: 'No results found.', 1: 'One item found.', 'other': 'Found: {{ items.length }} items'}"></span>
  </div>

  <div ng-if="items.length > 0">
    <pagination count="pagination.count" current="pagination.current"></pagination>
  </div>

  <div class="tartan-list-items clearfix">
    <div class="tartan-list-item pull-left"
      ng-repeat="item in pagination.items track by item.ref">
      <a href="javascript:void(0)" title="{{ item.name }}"
        ng-click="setCurrent(item);">
        <tartan-image source="{{ 'classic/2,2/' + item.sett }}"></tartan-image>
      </a>

      <h4><a href="javascript:void(0)" title="{{ item.name }}"
        ng-click="setCurrent(item);">{{ item.name }}</a></h4>
    </div>
  </div>

  <div ng-if="(items.length > 0) && (pagination.items.length >= pagination.itemsPerPage / 2)">
    <pagination count="pagination.count" current="pagination.current"></pagination>
  </div>

</div>
