<div class="tartan-list">
  <div class="margin-left-10 margin-right-10 margin-bottom-5">
    <span ng-pluralize
      count="items.length"
      when="{0: 'No results found.', 1: 'One item found.', 'other': 'Found: {{ items.length }} items'}"></span>
  </div>

  <div>
    <pagination count="pagination.count" current="pagination.current"></pagination>
  </div>

  <div class="clearfix">
    <div class="tartan-list-item pull-left"
      ng-repeat="item in pagination.items track by item.id">
      <a href="javascript:void(0)" title="{{ item.name }}"
        ng-click="setCurrent(item); onpreview();">
        <tartan-image source="{{ 'classic/2,2/' + item.sett }}"></tartan-image>
      </a>

      <h4><a href="javascript:void(0)" title="{{ item.name }}"
        ng-click="setCurrent(item); onpreview();">{{ item.name }}</a></h4>
    </div>
  </div>

  <div ng-if="pagination.items.length >= pagination.itemsPerPage / 2">
    <pagination count="pagination.count" current="pagination.current"></pagination>
  </div>

</div>
